.mails
  &__header
    background: white
    border-radius: 5px
    box-shadow: $shadow-main
    display: grid
    grid-template-columns: 1fr repeat(3, auto)
    justify-items: end
    justify-content: end
    align-items: center
    grid-gap: 7px
    padding: 8px 10px
    border-bottom: 1px solid $color-grey-thin